<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<title>${tmpl_context.title} - New ${model}</title>

<head>

<style>
#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
  }
</style>
</head>
<body class="tundra">
  <div style="height:0px;"> &nbsp; </div>

  <div style="float:left; padding-left:0px;">
        <ul id="menu_items" py:if="hasattr(tmpl_context, 'menu_items')">
            <li py:for="lower, item in sorted(tmpl_context.menu_items.iteritems())"><a href="../${lower}s/">$item.__name__</a></li>
       </ul>
  </div>
  <div style="float:left;" class="crud_add">
    <h2 style="margin-top:1px;">Adjuntar Archivos</h2>
     
  </div>
  				<form method="post" action="${iid}" enctype="multipart/form-data">
  				Seleccionar Archivo:<br />
			    <input type="file" name="userfile" /> <br /> <br /> <br />
			    <input type="submit" value="Subir Archivo" />
			    <input type="hidden" name="idItem" value="${iid}" />    
			    <h2>Adjuntos</h2>
			    <div py:for="file in current_files">
			    <a href="/view/${file.id}">${file.filename}</a> [<a href="/delete/${file.id}">Eliminar</a>]
			    </div>
			    </form>
	
	<?python
		#/item/?fid=21
		from sap.model import DBSession
		from sap.model.item import Item
		fid=DBSession.query(Item.idFase).filter_by(id=iid).first()
		print fid[0]
		
	?>


  <a href='/item/?fid=${fid[0]}'><input type="button" name="cancelar" value="Atrás"/></a>
  <div style="height:0px; clear:both;"> &nbsp; </div>
  
</body>
</html>
