<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Elegir Tipo de Item</title>
</head>

<body>

<h1>Elegir Tipo de Item</h1>

<div py:replace="tmpl_context.form(child_args=dict(tipoitem=dict(options=tipoitem_options)))">Input Form</div>
<?python
from sap.model import DeclarativeBase, metadata, DBSession
from tw.forms import (TableForm, CalendarDatePicker, Label,
    SingleSelectField, Spacer, TextField, TextArea)

from tg import expose,tmpl_context
from sap.model.tipodeitem import TipoDeItem
from tw.forms import CheckBoxList, CheckBox, CheckBoxTable,SingleSelectionMixin,SingleSelectField,HiddenField 


####
import logging

from repoze.what.predicates import has_permission 
log = logging.getLogger(__name__)

####
from tw.api import WidgetsList


class ElegirTipoForm(TableForm):
    
    class fields(WidgetsList):
        tipoitem_options = [x for x in (DBSession.query(TipoDeItem.id, TipoDeItem.nombre).filter_by(idFase=21))]

        tipoitem = SingleSelectField(options=tipoitem_options)
        #submit =HiddenField()
        
create_elegirtipo_form = ElegirTipoForm("create_elegirtipo_form")

#<a href='../item/new/?tid=${tid}'><input type="submit" name="aceptar" value="Aceptar"/></a>
?>

<a href='/item/?fid=${fid}'><img src="${tg.url('/images/boton_atras.gif')}" align="left" style="border-style:none"/></a>

</body>
</html>

