<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="master.html" />
<head>
<title>${tmpl_context.title} - ${model} Listing</title>

<?python
	from sap.model import DeclarativeBase, metadata, DBSession
	from sap.model.proyecto import Proyecto
	
	estado= DBSession.query(Proyecto.estado).filter_by(id=pid).first()
	aux= estado[0]
	estado=False
	
  	if aux=="nuevo":
	   estado = True
?>

<style>

#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
  }
</style>
</head>
<body class="tundra">
  <div style="height:0px;"> &nbsp; </div>
  <div id="main_content">
    <div style="float:left; padding-left:0px;">
        <ul id="menu_items" py:if="hasattr(tmpl_context, 'menu_items')">
            <li py:for="lower, item in sorted(tmpl_context.menu_items.iteritems())"><a href="../${lower}s">$item.__name__</a></li>
        </ul>
    </div>
    <div style="float:left; width:80%">
      <h1 style="margin-top:1px;">Lista de $model</h1>
      
      <div style="margin:1ex 0; width:120%">
      	<div align="right">
		  <form name="form1" action="./?pid=3" method="_do_get_provider_count_and_objs">
		  	<a href="${tg.url('/proyectoconfig')}" ><img src="${tg.url('/images/boton_atras.gif')}" align="left" style="border-style:none"/></a>
		    <input type="text" name="buscar"/>
		    <input type="image" src="${tg.url('/images/buscador_icono.gif')}" width="30"/>
		    <input type="hidden" name="pid" value="${pid}"/>
		  </form>
		</div>
      
      	
        <div> <a py:if='estado' href='new/?pid=${pid}' class="add_link">Nueva $model</a>  </div>  
       
        
        <span py:if="value_list" style="margin-left:2em" py:content="tmpl_context.paginators.value_list.pager(link='../%ss/'%model.lower())"/>
      </div>
      <div class="crud_table" style="width:120%">
        ${XML(tmpl_context.widget(value=value_list, action='../'+model.lower()+'s.json'))}
      </div>
    </div>
  </div>
  <div style="clear:both;"/>

</body>
</html>
