<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />
<title>Cáculo de Impacto</title>

<head>
<style>
#menu_items {
  padding:0px 12px 0px 2px;
  list-style-type:None
  }
</style>
</head>
<body class="tundra">
  <center><img src="${tg.url('/images/example2_graph.png')}" style= "max-width:100%; border-style:none"/></center>
  <a href='${link["url"]}' style= "text-decoration:none"><input type="button" name="cancelar" value="Atrás"/></a>
</body>
</html>
